:root {
  --white: #fff;
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
  --regularFontSize: 400;
  --boldFontSize: 700;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

button {
  padding: 0.7rem 0;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0;
  color: var(--white);
  background: var(--BrightBlue);
}

input {
  padding: 0.7rem 1rem;
}

input,
button {
  border-radius: 0.18rem;
  width: 100%;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid-container {
  display: grid;
}

.wrapper {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
}

.logo-container {
  width: 8rem;
}

.nav-links {
  flex: 0.7;
}

.nav-links a {
  color: var(--VeryDarkBlue);
}

nav {
  padding: 1.5rem 0;
}

header {
  margin: 3rem 0;
}

.illustration-container {
  width: 90%;
  margin: 0 auto;
}

.hero-text {
  grid-template-columns: 1fr;
}

.hero-text p {
  width: 80%;
  margin: 1rem auto;
}

form {
  width: 90%;
  margin: 2rem auto 0 auto;
  justify-content: space-between;
  height: 6.5rem;
  flex-direction: column;
}

#features {
  margin: 5rem 0;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.section-heading {
  font-size: 1.4rem;
}

#features p {
  color: var(--DesaturatedBlue);
}

.arrow-container {
  text-align: center;
  width: 45%;
  margin: 0rem auto;
  border-bottom: 1.5px solid var(--ModerateCyan);
}

.arrow-text {
  font-size: 1rem;
}

.arrow {
  width: 1.5rem;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.testimonial {
  width: 90%;
  border: 1px solid green;
  margin: 0 auto;
  padding: 1.5rem;
}

.quotes-container {
  width: 1rem;
}

.avatar-container {
  width: 2.5rem;
  margin-right: 1rem;
}

.avatar-container img {
  border-radius: 50%;
}

.author-name p:first-child {
  margin-bottom: 0.3rem;
  font-weight: 700;
  color: var(--VeryDarkBlue);
  font-size: 1rem;
}

.author-name p:last-child {
  margin: 0rem;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    flex: 0.3;
  }

  header,
  #features {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
  }

  #features {
    margin: 15rem 0;
  }
  #features p {
    color: var(--DesaturatedBlue);
  }

  .section-heading {
    font-size: 2.3rem;
    text-align: left;
  }

  .illustration-container {
    order: 1;
    width: 100%;
    /* border: 1px solid green; */
  }
  .hero-text {
    width: 100%;
    /* border: 1px solid green; */
    text-align: left;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    width: 90%;
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  form {
    flex-flow: row;
    width: 100%;
    height: 50px;
  }

  form * {
    font-size: 0.9rem;
  }

  .header-email {
    width: 65%;
    padding-left: 1rem;
  }

  button {
    width: 32%;
  }

  input,
  button {
    padding: 1rem 0;
  }

  .arrow-container {
    margin: 0;
  }

  .testimonial {
    margin: 2rem 0 2rem 0;
    width: 58%;
  }

  .testimonial > p {
    font-size: 0.9rem;
  }
}
